@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.common__loader_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% );
    &_loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid $primaryColor;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
    }
}

@media all and (max-width: $laptop) {
    .common__loader_box_loader{
        border-width: 14px;
        border-top-width: 14px;
        width: 85px;
        height: 85px;
    }
}
@media all and (max-width: $tablet) {
    .common__loader_box_loader{
        border-width: 12px;
        border-top-width: 12px;
        width: 70px;
        height: 70px;
    }
}
@media all and (max-width: $tablet-sm) {
    .common__loader_box_loader{
        border-width: 10px;
        border-top-width: 10px;
        width: 60px;
        height: 60px;
    }
}
@media all and (max-width: $phone) {
    .common__loader_box_loader{
        border-width: 8px;
        border-top-width: 8px;
        width: 50px;
        height: 50px;
    }
}