.log-box {
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    flex: 1;
    &__header {
        padding-right: 5px;
        border-bottom: 1px solid grey;
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    &__log {
        height: 58px;
        font-size: 1rem;
    }
    &__header,
    &__log{    
        display: flex;
        flex-grow: 1;
        justify-content: stretch;
        align-items: center;
        overflow: hidden;

        & > div > button > p { margin: 0px; } // żeby przyciski np clsoe task, wyswietlały się poprawnie

        &_index{ @include width_minwidth(50px) }
        &_type{
            @include width_minwidth(100px);
            font-weight: bold;

            &-error{ color: red; }
            &-warn{ color: yellow; }
            &-info{ color: blue; }
        }
        &_message{
            @include width_minwidth(600px);
            text-align: left;
        }
        &_author{
            @include width_minwidth(600px);

            text-align: left;
            overflow: hidden;
        }
    }
}
