.logout-button-box {
    display: flex;
    
    & > button { font-size: 1.2rem; padding: 2px 9px; }
 
    &__info {
        font-size: $rem1-font-size;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        & > a {
            margin: 0px;
            height: 0px;

            & > p {
                text-align: center;
                font-weight: bold;
                color: black;
                margin: 0;

                &:hover { color: grey; }
            }
            &:hover { text-decoration: none; }
        }
        & > p {
            margin: 0px;
            font-weight: bold;
        }
    }
}

@media all and (max-width: $monitor) {
    .logout-button-box {
    
        & > button { font-size: 1rem; padding: 0px 7px; }
        &__info { font-size: 0.7rem; }
        &__info > p { font-weight: normal; }
    }
}
@media all and (max-width: $laptop) {
    .logout-button-box {
        margin-right: 1px;

        & > button { font-size: 0.8rem; padding: 0px 8px; }
        &__info { font-size: 0.6rem; }    
        &__info > p { font-weight: normal; }
    }
}
@media all and (max-width: $tablet) {
    .logout-button-box {
    
        & > button { font-size: 0.8rem; padding: 0px 9px;  }
        &__info { font-size: 0.6rem; }
        &__info  > a > p { font-weight: normal; }
        &__info  > p { font-weight: normal; }
    }
}
@media all and (max-width: $tablet-sm) {
    .logout-button-box__info > p{ font-size: 0.4rem; }
    .logout-button-box > button { font-size: 0.6rem; padding: 2px 6px; }
    .logout-button-box__info { font-size: 0.5rem; }
}
@media all and (max-width: $phone-big) {
    .logout-button-box > button { font-size: 0.5rem; padding: 0px 6px; }
    .logout-button-box__info {
        display: none;
        font-size: 0.4rem;
        margin-right: 10px;
     }
}