/filmag-backend/node_modules
/filmag-frontend/node_modules
/filmag-frontend/build
/filmag-frontend/env.local
/filmag-frontend/env.development.local
/filmag-frontend/env.test.local
/filmag-frontend/env.production.local
/filmag-frontend/coverage
/filmag-frontend/npm-debug.log*
/filmag-frontend/yarn-debug.log*
/filmag-frontend/yarn-error.log*
/applogs
/config/default.json